<html>
    <head>
        <title>eLibrary</title>
        <center><h1 style="color:aliceblue">Welcome to eLibrary</h1></center>
    </head>
    <body bgcolor="659DBD">
        <center><h3 style="color:aliceblue">Login<h3></center>
        <form method="POST" action="">
            {% csrf_token %}
            <center>Username: <input type="text" name="Username" placeholder="Enter Your Username" required><br><br>
            Password: <input type="password" name="Password" placeholder="Enter Your Password" required><br><br></center>
            <center><button id="login">Login</button></center>
        </form>
        {% for message in messages %}
            <strong><h3>{{message}}</h3></strong>
        {% endfor %}
    </body>
</html>